name: React Native E2E Tests (iOS)

on:
    pull_request:
    push:
        branches: [trunk]

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

jobs:
    test:
        runs-on: macos-12
        if: ${{ github.repository == 'WordPress/gutenberg' || github.event_name == 'pull_request' }}
        strategy:
            matrix:
                xcode: ['14.2']
                device: ['iPhone 14']
                native-test-name: [gutenberg-editor-rendering]

        steps:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            - name: CommentOut
              run: echo "workflow_was_comment_out"
#            - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
#
#            - name: Use desired version of NodeJS
#              uses: actions/setup-node@38d90ce44d5275ad62cc48384b3d8a58c500bb5f # v2.2.2
#              with:
#                  node-version: ${{ matrix.node }}
#                  cache: npm
#
#            - run: npm ci
#
#            - name: Prepare build cache key
#              run: find package-lock.json packages/react-native-editor/ios packages/react-native-aztec/ios packages/react-native-bridge/ios -type f -print0 | sort -z | xargs -0 shasum | tee ios-checksums.txt
#
#            - name: Restore build cache
#              uses: actions/cache@c64c572235d810460d0d6876e9c705ad5002b353 # v2.1.6
#              with:
#                  path: |
#                      packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app
#                      packages/react-native-editor/ios/build/WDA
#                  key: ${{ runner.os }}-ios-build-${{ matrix.xcode }}-${{ hashFiles('ios-checksums.txt') }}
#
#            - name: Restore pods cache
#              uses: actions/cache@c64c572235d810460d0d6876e9c705ad5002b353 # v2.1.6
#              with:
#                  path: |
#                      packages/react-native-editor/ios/Pods
#                      ~/Library/Caches/CocoaPods
#                      ~/.cocoapods/repos/trunk
#                      packages/react-native-editor/ios/vendor
#                  key: ${{ runner.os }}-pods-${{ hashFiles('packages/react-native-editor/ios/Gemfile.lock') }}-${{ hashFiles('packages/react-native-editor/ios/Podfile.lock') }}-${{ hashFiles('package-lock.json') }}
#
#            - name: Bundle iOS
#              run: npm run native test:e2e:bundle:ios
#
#            - name: Switch Xcode version to ${{ matrix.xcode }}
#              run: sudo xcode-select --switch /Applications/Xcode_${{ matrix.xcode }}.app
#
#            - name: Build (if needed)
#              run: test -e packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app/GutenbergDemo || npm run native test:e2e:build-app:ios
#
#            - name: Build Web Driver Agent (if needed)
#              run: test -d packages/react-native-editor/ios/build/WDA || npm run native test:e2e:build-wda
#
#            - name: Run iOS Device Tests
#              run: TEST_RN_PLATFORM=ios npm run native device-tests:local  ${{ matrix.native-test-name }}
#
#            - name: Prepare build cache
#              run: |
#                  rm packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app/main.jsbundle
#                  rm -rf packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app/assets
#
#            - uses: actions/upload-artifact@e448a9b857ee2131e752b06002bf0e093c65e571 # v2.2.2
#              if: always()
#              with:
#                  name: ios-screen-recordings
#                  path: packages/react-native-editor/ios-screen-recordings
#
#            - uses: actions/upload-artifact@e448a9b857ee2131e752b06002bf0e093c65e571 # v2.2.2
#              if: always()
#              with:
#                  name: appium-logs
#                  path: packages/react-native-editor/appium-out.log
=======
            - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
=======
            - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
=======
            - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
>>>>>>> upstream/trunk
              with:
                  show-progress: ${{ runner.debug == '1' && 'true' || 'false' }}
>>>>>>> upstream/trunk

            - name: Switch Xcode version to ${{ matrix.xcode }}
              run: sudo xcode-select --switch /Applications/Xcode_${{ matrix.xcode }}.app

            - name: Launch simulator
              run: (open -a Simulator && xcrun simctl boot '${{ matrix.device }}') &

            - name: Setup Node.js and install dependencies
              uses: ./.github/setup-node

            - name: Restore tests setup cache
              uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
              with:
                  path: |
                      ~/.appium
                  key: ${{ runner.os }}-tests-setup-${{ hashFiles('package-lock.json') }}

            - name: Prepare tests setup
              run: npm run native test:e2e:setup

            - name: Prepare build cache key
              run: find package-lock.json packages/react-native-editor/ios packages/react-native-aztec/ios packages/react-native-bridge/ios -type f -print0 | sort -z | xargs -0 shasum | tee ios-checksums.txt

            - name: Restore build cache
              uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
              with:
                  path: |
                      packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app
                      packages/react-native-editor/ios/build/WDA
                  key: ${{ runner.os }}-ios-build-${{ matrix.xcode }}-${{ matrix.device }}-${{ hashFiles('ios-checksums.txt') }}

            - name: Restore pods cache
              uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
              with:
                  path: |
                      packages/react-native-editor/ios/Pods
                      ~/Library/Caches/CocoaPods
                      ~/.cocoapods/repos/trunk
                      packages/react-native-editor/ios/vendor
                  key: ${{ runner.os }}-pods-${{ hashFiles('packages/react-native-editor/ios/Gemfile.lock') }}-${{ hashFiles('packages/react-native-editor/ios/Podfile.lock') }}-${{ hashFiles('package-lock.json') }}

            - name: Bundle iOS
              run: npm run native test:e2e:bundle:ios

            - name: Build (if needed)
              run: test -e packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app/GutenbergDemo || npm run native test:e2e:build-app:ios

            - name: Build Web Driver Agent (if needed)
              run: test -d packages/react-native-editor/ios/build/WDA || npm run native test:e2e:build-wda

            - name: Run iOS Device Tests
              run: TEST_RN_PLATFORM=ios npm run native device-tests:local  ${{ matrix.native-test-name }}

            - name: Prepare build cache
              run: |
                  rm packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app/main.jsbundle
                  rm -rf packages/react-native-editor/ios/build/GutenbergDemo/Build/Products/Release-iphonesimulator/GutenbergDemo.app/assets

            - uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
              if: always()
              with:
                  name: ios-screen-recordings
                  path: packages/react-native-editor/ios-screen-recordings

            - uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
              if: always()
              with:
                  name: appium-logs
                  path: packages/react-native-editor/appium-out.log
>>>>>>> upstream/trunk
