name: Static Analysis (Linting, License, Type checks...)

on:
    pull_request:
    push:
        branches:
            - trunk
            - 'release/**'
            - 'wp/**'

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

jobs:
    check:
        name: All
        runs-on: ubuntu-latest
        if: ${{ github.repository == 'WordPress/gutenberg' || github.event_name == 'pull_request' }}

        steps:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          - name: CommentOut
            run: echo "workflow_was_comment_out"
#            - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
#
#            - name: Use desired version of NodeJS
#              uses: actions/setup-node@38d90ce44d5275ad62cc48384b3d8a58c500bb5f # v2.2.2
#              with:
#                  node-version: 14
#                  cache: npm
#
#            - name: Npm install
#              # A "full" install is executed, since `npm ci` does not always exit
#              # with an error status code if the lock file is inaccurate.
#              #
#              # See: https://github.com/WordPress/gutenberg/issues/16157
#              run: npm install
#
#            - name: Lint JavaScript and Styles
#              run: npm run lint
#
#            - name: Type checking
#              run: npm run build:package-types
#
#            - name: Check local changes
#              run: npm run check-local-changes
#
#            - name: License compatibility
#              run: npm run check-licenses
=======
            - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
=======
            - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
=======
            - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
>>>>>>> upstream/trunk
=======
            - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
>>>>>>> upstream/trunk
              with:
                  show-progress: ${{ runner.debug == '1' && 'true' || 'false' }}
>>>>>>> upstream/trunk

            - name: Use desired version of Node.js
              uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4.0.0
              with:
                  node-version-file: '.nvmrc'
                  check-latest: true
                  cache: npm

            - name: Npm install
              # A "full" install is executed, since `npm ci` does not always exit
              # with an error status code if the lock file is inaccurate. This also
              # helps to catch dependencies not being installed with exact version.
              #
              # See: https://github.com/WordPress/gutenberg/issues/16157
              # See: https://github.com/WordPress/gutenberg/pull/39865
              run: npm install

            - name: Lint JavaScript and Styles
              run: npm run lint

            - name: Type checking
              run: npm run build:package-types

            - name: Check local changes
              run: npm run other:check-local-changes

            - name: License compatibility
<<<<<<< HEAD
              run: npm run check-licenses
>>>>>>> upstream/trunk
=======
              run: npm run other:check-licenses
>>>>>>> upstream/trunk
